.container-popupimg{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #0000009f;
  z-index: 100;
}
.container-close{
  display: none;
}
.container-popupimg img {
  position: absolute;
  z-index: 50;
  width: auto;
  height: 80vh;
}

.container-popupimg p {
  cursor: pointer;
  width: 96%;
  color: white;
  font-size: 20px;
  padding-top: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 60;
}

.container-cross{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  
}

.container-img{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

